<section id="news" class="news">
	<div class="explain">
		<h3 class="subtitle-small"></h3>
		<h2 class="title-small">Nos actualit&eacute;s</h2>
	</div>
	<div class="slider-news swiper-container">
		<div class="swiper-button-prev btn-light btn-icon-small"></div>
		<div class="swiper-button-next btn-light btn-icon-small"></div>
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<figure class="col-lg-12">
					<a href="./Article2_interview.jsp"><img
						class="img img-responsive article-img"
						src="./assets/images/notes.jpg"></a>
					<figcaption class="article-caption">
						<h2 class="article-title">
							<a href="./Article2_interview.jsp">Interview collaborateur <br>
								Business Analyst
							</a>
						</h2>
					</figcaption>
				</figure>
			</div>
			<div class="swiper-slide">
				<figure class="col-lg-12">
					<a href="./Article3_sortie.jsp"><img
						class="img img-responsive article-img"
						src="./assets/images/EscapeGame.jpg"></a>
					<figcaption class="article-caption">
						<h2 class="article-title">
							<a href="./Article3_sortie.jsp">Des Teams Building de
								qualit&eacute; </a>
						</h2>
					</figcaption>
				</figure>
			</div>
			<div class="swiper-slide">
				<figure class="col-lg-12">

					<a href="./Article1_dd.jsp"><img
						class="img img-responsive article-img"
						src="./assets/images/terre.jpg"></a>
					<figcaption class="article-caption">
						<h2 class="article-title">
							<a href="./Article1_dd.jsp">D&eacute;couvrez les engagements
								d'Ekios</a>
						</h2>
					</figcaption>
				</figure>
			</div>
			<div class="swiper-slide">
				<figure class="col-lg-12">
					<a
						href="https://www.linkedin.com/posts/ekios_on-recrute-activity-6973999553662308353-m1tr?utm_source=share&utm_medium=member_desktop"
						target="_blank"><img class="img img-responsive article-img"
						src="./assets/images/Offre.jpg"></a>
				</figure>
			</div>
		</div>
	</div>
</section>